/* ==================================
   SISTEM PENDATAAN BUKU PERPUSTAKAAN
   MODERN LIBRARY + GRADIENT BACKGROUND
================================== */


*{

    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;

}



body{

    min-height:100vh;

    background:
    linear-gradient(135deg,#0632f5,#0465f5);

    padding:40px;

}



/* container utama */

.container{

    width:90%;

    max-width:1100px;

    margin:auto;

    background:white;

    padding:35px;

    border-radius:25px;

    box-shadow:
    0 20px 40px rgba(0,0,0,0.25);

    animation: masuk 0.6s ease;


}



@keyframes masuk{

    from{

        opacity:0;
        transform:translateY(30px);

    }


    to{

        opacity:1;
        transform:translateY(0);

    }

}



/* Judul */


h1{

    text-align:center;

    color:#0d0c72;

    margin-bottom:25px;

    font-size:32px;

}



h1:before{

    content:"📚 ";

}



/* garis bawah judul */


h1::after{

    content:"";

    display:block;

    width:100px;

    height:5px;

    background:#034189;

    margin:15px auto;

    border-radius:20px;

}




/* Tombol tambah */


.btn{

    background:#036af9;

    color:white;

    padding:12px 22px;

    border-radius:12px;

    text-decoration:none;

    display:inline-block;

    transition:.3s;

    font-weight:bold;

}



.btn:hover{

    background:#0699f4;

    transform:translateY(-3px);

}




/* tabel */


table{

    width:100%;

    margin-top:25px;

    border-collapse:collapse;

    border-radius:15px;

    overflow:hidden;

}



th{

    background:#04209b;

    color:white;

    padding:15px;

}



td{

    padding:14px;

    text-align:center;

    border-bottom:1px solid #ddd;

}



tr:hover{

    background:#f3f1ff;

    transition:.3s;

}





/* tombol edit hapus */


.edit,
.hapus{

    color:white;

    padding:8px 14px;

    border-radius:8px;

    text-decoration:none;

    display:inline-block;

    font-size:14px;

}



.edit{

    background:#0871b7;

}



.hapus{

    background:#027afb;

}



.edit:hover,
.hapus:hover{

    opacity:.8;

    transform:scale(1.05);

}





/* FORM */


form{

    width:70%;

    margin:auto;

}



input{

    width:100%;

    padding:14px;

    margin:10px 0;

    border-radius:12px;

    border:2px solid #ddd;

    font-size:15px;

}



input:focus{

    outline:none;

    border-color:#071659;

    box-shadow:0 0 10px #002ef855;

}





/* tombol simpan */


button{

    width:100%;

    padding:14px;

    background:#0331fd;

    color:white;

    border:none;

    border-radius:12px;

    font-size:17px;

    cursor:pointer;

    margin-top:10px;

}



button:hover{

    background:#0592f1;

}





/* kartu tabel */


table{

    box-shadow:0 8px 20px rgba(7, 29, 77, 0.1);

}





/* mobile */

@media(max-width:700px){


body{

    padding:15px;

}


.container{

    width:100%;

    padding:20px;

}



table{

    font-size:12px;

}



form{

    width:100%;

}


}
